/target/
reports/XYZ/Automation_Report_BuildNumber-XYZ-firefox_Tue,11_Jul_2017_03_06_45.html
reports/XYZ/screenshots/screenshot06a79c95-9f4a-4f40-a2e1-976496f6b379.png
reports/XYZ/screenshots/screenshot652c12d7-994e-4956-a75c-927cf5f3e2a3.png
reports/XYZ/screenshots/screenshot7c10a2c0-627e-453f-a4a3-f6b64361711c.png
reports/XYZ/screenshots/screenshote49233a3-f20a-4ade-b65c-06ea2282cb10.png
src/test/resources/stories/test/TC-001-Search-QuickSearchPage.story
src/test/resources/stories/test/TC-001-Search-Search.story
src/test/resources/stories/test/TC-002-Search-SearchInPublishersPage.story
src/test/resources/stories/test/TC-002-Search-SearchThenLogin.story
src/test/resources/stories/test/TC-004-BrowseTOC.story
src/test/resources/stories/test/TC-006-SignInAndAccess(PDF).story
src/test/resources/stories/test/TC-007-TryToAccessThePDF.story
src/test/resources/stories/test/TC-008-shoppingCartInfoIsCorrect.story
src/test/resources/stories/test/TC-009-BuyTheArticle(add to cart).story
src/test/resources/stories/test/TC-010-ProceedToTheBillingPage.story
*.html
*.png
